@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-SemiboldIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/Myriad Pro/MyriadPro-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;

}

:root {
  font-family: system-ui, Myriad Pro, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas-container {
  height: 3500px;
}

#experience-canvas {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
}

#spacer {
  height: 4000px;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 700;
  /* Bold */
}